[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
requests = "*"
sqlalchemy = "*"
datetime = "*"
country-converter = "*"
flask = "*"
lxml = "*"
pymysql = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
