{% extends "layout.html" %}
{% block content %}
<section class="home">
</section>
<div class='bodyDiv mx-5' style="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-dark text-right">Updated as of {{ dateUpdated }}</h3></br>
                    <div class="card bg-dark float-right" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3">Total World Cases</h3>
                            <p class="card-text cardP">{{ "{:,.0f}".format(cases) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card float-right" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3 text-dark">Total World Deaths</h3>
                            <p class="card-text cardP text-dark">{{ "{:,.0f}".format(deaths) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card float-right bg-dark" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3">Total World Recovered</h3>
                            <p class="card-text cardP">{{ "{:,.0f}".format(recovered) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card float-right" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3 text-dark">Total World Case Fatality</h3>
                            <p class="card-text cardP text-dark">{{ case_fatality }}%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h2 class="myH2">What is the Corona Virus?</h2>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <p class="myP">
                
                Coronavirus disease 2019 (COVID-19) is a respiratory illness
                that can spread from person to person. The virus that causes
                COVID-19 is a novel coronavirus that was first identified during
                an investigation into an outbreak in Wuhan, China.
            </p>
            <p class="myP">

                The virus that causes COVID-19 probably emerged from an
                animal source, but is now spreading from person to person.
                The virus is thought to spread mainly between people who
                are in close contact with one another (within about 6 feet)
                through respiratory droplets produced when an infected
                person coughs or sneezes. It also may be possible that a person
                can get COVID-19 by touching a surface or object that has
                the virus on it and then touching their own mouth, nose, or
                possibly their eyes, but this is not thought to be the main
                way the virus spreads. 
            </p>
            <p class="myP">
                For more details, and the latest information on the Corona Virus
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/about/index.html">Click Here</a>
            </p></br>
        </div>
    </div>
</div>

<div class="mx-5" id='plotsDiv' alt="Max-width 100%">

    <div class="col-12 mx-5" style="Max-width: 100%">
        <script>
             Plotly.plot("plotsDiv", {{ bar | safe }})
        </script>
    </div>
</div>
{% endblock %}