{% extends "layout.html" %}
{% block content %}
<section class="home"></section>
<div class='bodyDiv p-5' style='container-fluid'>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div id='plotsDiv' alt="Max-width 100%">
        <div class="col-12" style="Max-width: 100%">
            <script>
                Plotly.plot("plotsDiv", {{ bubble | safe }})
            </script>
        </div>
    </div>
    <div class="mt-5">
        <ul class="myUL">
            <li class="myList">Data: Top 20 countries by COVID-19 confirmed cases</li>
            <li class="myList">X-Axis: % of population age 65 and above (source: World Bank 2018)</li>
            <li class="myList">Y-Axis: COVID-19 case fatality rate (#deaths/#confirmed)</li>
            <li class="myList">Bubble size proportional to # of COVID-19 confirmed cases</li>
            <li class="myList">Bubble color coded by country</li>
            <li class="myList">Transition day by day from 2020-03-01 to the latest available data</li>
        </ul>
    </div>
</div>
{% endblock %}